@media print {
  @page {
    margin: 10mm 10mm 10mm 10mm;
  }

  /* Reduce spacing and optimize for print */
  html,
  body,
  #root,
  main {
    background: white !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}